workflows/[AI] News to Discourse.json
{
  "active": false,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-CHATGPT": {
      "main": [
        [
          {
            "node": "Clean Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-DALLE": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sheets": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "OpenAI-CHATGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Clean Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Discourse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI-DALLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content1": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content2": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discourse": {
      "main": [
        [
          {
            "node": "Update Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-27T17:05:41.072Z",
  "id": "1",
  "name": "[AI] News to Discourse",
  "nodes": [
    {
      "parameters": {},
      "id": "04750e9b-6ce3-401b-89e7-f1f17f3a4a28",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $node[\"split\"].json[\"url\"] }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "7a8bb997-5a2d-4ee0-a1ca-bebe9fe32bc2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        240
      ],
      "typeVersion": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "html"
            }
          ]
        },
        "options": {
          "trimValues": false
        }
      },
      "id": "6409f0c4-bf93-4a1d-a74c-e294fb39895f",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1060,
        240
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "columnToMatchOn": "url",
        "valueToMatchOn": "={{ $node.sheets.json.url }}",
        "fieldsUi": {
          "values": [
            {
              "column": "canal",
              "fieldValue": "={{ $input.item.json.canal}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbd5f866-2f5e-4adf-b1b5-a27b08c0425a",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2320,
        180
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.json.contenido=JSON.stringify($input.item.json.text).contenido\n\n$input.item.json.canal=JSON.stringify($input.item.json.text).canal\n\n$input.item.json.titulo=JSON.stringify($input.item.json.text).titulo\n\nreturn $input.item;"
      },
      "id": "f8bf8b70-6070-447b-af22-4d4e1ffe3539",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        1980,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "eccf1dc8-a0bb-40f6-9471-95eac8020b02",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2480,
        240
      ],
      "webhookId": "d44bc024-1c21-44e0-b2b4-5cff6fb9f402",
      "typeVersion": 1
    },
    {
      "parameters": {
        "title": "={{ $node[\"Parse JSON\"].json[\"titulo\"] }}",
        "content": "=![image|({{ url }})|{{ $node[\"Parse JSON\"].json[\"contenido\"] }}",
        "additionalFields": {
          "category": "={{ $node[\"Parse JSON\"].json[\"canal\"] }}"
        }
      },
      "id": "2a7f6913-3d66-44a4-9eb5-3136106c9bed",
      "name": "Discourse",
      "type": "n8n-nodes-base.discourse",
      "typeVersion": 1,
      "position": [
        2640,
        -40
      ],
      "credentials": {
        "discourseApi": {
          "id": "1",
          "name": "Discourse account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.content }}",
        "options": {
          "n": 1,
          "size": "1024x1024"
        }
      },
      "id": "51508ff4-fab1-42b6-9f7d-be4701a639b3",
      "name": "OpenAI-DALLE",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2200,
        -40
      ],
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=1) Traduce {{ $json.content }}.\n\n2) Sintetiza en tres párrafos y no más de 250 palabras el siguiente texto: \n\n2) Genera un título con impacto SEO no mayor a 11 palabras.\n\nEl formato debe ser: { \"contenido\": contenido, \"titulo\": titulo }",
        "options": {
          "maxTokens": 750,
          "temperature": 0.8,
          "topP": 1
        }
      },
      "id": "f45fcc6a-9ccd-43c9-9eaf-1797768e1e62",
      "name": "OpenAI-CHATGPT",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1380,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "2754c6e1-9cf6-47d4-ad97-0797ec9155df",
      "name": "sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        540,
        180
      ],
      "typeVersion": 3,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.content){\n\n  $input.item.json.content =\n$input.item.json.content.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ').slice(0, 8500)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "8196fc6c-51c3-4051-b600-6601bc1f1928",
      "name": "Clean Content",
      "type": "n8n-nodes-base.code",
      "position": [
        1220,
        240
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "af3f3bdd-c32d-436f-a7f1-55f702de2315",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2160,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7972111-345f-46f3-90a2-8cd440c3d710",
      "name": "split",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        740,
        180
      ]
    },
    {
      "parameters": {
        "operation": "edit",
        "input": "={{ $json.text }}",
        "instruction": "Clasifica {{ $json.text }} entre: [bitcoin, monero, privacidad, tech-apps] y agrega esa palabra en la entrada JSON 'canal'.",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "b955ea24-49dc-42ef-9de7-1b5180f42695",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://comunidad.criptonautas.com/uploads.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discourseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "files[]",
              "value": "={{ $binary }}"
            },
            {
              "name": "type",
              "value": "composer"
            },
            {
              "name": "user_id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "c68fd547-444f-4425-87cb-060df125acaa",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2480,
        -40
      ],
      "credentials": {
        "discourseApi": {
          "id": "1",
          "name": "Discourse account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "you are a DALLE-2 prompt generator. Generate a [cypherpunk, modern, symbolic] image that represents {{ $json.titulo }} in no more than 23 words."
            }
          ]
        },
        "options": {
          "maxTokens": 150,
          "n": 1,
          "topP": 0.8
        }
      },
      "id": "b1107416-a7bd-464d-a3c2-6bac9810d400",
      "name": "OpenAI1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2040,
        -40
      ],
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.text){\n\n  $input.item.json.text =\n$input.item.json.text.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ').slice(0, 8500)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "8d7a430e-a656-4fb3-a412-358613cbda4a",
      "name": "Clean Content1",
      "type": "n8n-nodes-base.code",
      "position": [
        1820,
        240
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.text){\n\n  $input.item.json.text =\n$input.item.json.text.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ').slice(0, 8500)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "f5d62da4-ebae-4cc0-99f8-50012505b0e9",
      "name": "Clean Content2",
      "type": "n8n-nodes-base.code",
      "position": [
        1540,
        240
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "columnToMatchOn": "published",
        "valueToMatchOn": "={{ $node.sheets.json.url }}",
        "fieldsUi": {
          "values": [
            {
              "column": "newColumn",
              "columnName": "published",
              "fieldValue": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "562769f8-52e1-4dc8-abfa-9e28b14e00c7",
      "name": "Update Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2780,
        -40
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-05-10T08:01:59.262Z",
  "versionId": "8522e14c-31bb-4e3c-bbb4-dcb5746c3091"
}