workflows/[AI] News to Discourse.json
{
  "active": false,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Update Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-CHATGPT": {
      "main": [
        [
          {
            "node": "Clean Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-DALLE": {
      "main": [
        [
          {
            "node": "Discourse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sheets": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "OpenAI-CHATGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI-DALLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content2": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discourse": {
      "main": [
        [
          {
            "node": "Update Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-27T17:05:41.072Z",
  "id": "1",
  "name": "[AI] News to Discourse",
  "nodes": [
    {
      "parameters": {},
      "id": "04750e9b-6ce3-401b-89e7-f1f17f3a4a28",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        260,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $node[\"split\"].json[\"url\"] }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "7a8bb997-5a2d-4ee0-a1ca-bebe9fe32bc2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        240
      ],
      "typeVersion": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "html"
            }
          ]
        },
        "options": {
          "trimValues": false
        }
      },
      "id": "6409f0c4-bf93-4a1d-a74c-e294fb39895f",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1060,
        240
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "columnToMatchOn": "url",
        "valueToMatchOn": "={{ $node.sheets.json.url }}",
        "fieldsUi": {
          "values": [
            {
              "column": "canal",
              "fieldValue": "={{ $input.item.json.canal}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbd5f866-2f5e-4adf-b1b5-a27b08c0425a",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2220,
        180
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.json.contenido=JSON.parse($input.item.json.text).contenido\n\n$input.item.json.canal=JSON.parse($input.item.json.text).canal\n\n$input.item.json.titulo=JSON.parse($input.item.json.text).titulo\n\nreturn $input.item;"
      },
      "id": "f8bf8b70-6070-447b-af22-4d4e1ffe3539",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        1720,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "eccf1dc8-a0bb-40f6-9471-95eac8020b02",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2600,
        240
      ],
      "webhookId": "d44bc024-1c21-44e0-b2b4-5cff6fb9f402",
      "typeVersion": 1
    },
    {
      "parameters": {
        "title": "={{ $node[\"Parse JSON\"].json[\"titulo\"] }}",
        "content": "={{ url }}\n\n{{ $node[\"Parse JSON\"].json[\"contenido\"] }}",
        "additionalFields": {}
      },
      "id": "2a7f6913-3d66-44a4-9eb5-3136106c9bed",
      "name": "Discourse",
      "type": "n8n-nodes-base.discourse",
      "typeVersion": 1,
      "position": [
        2260,
        -40
      ],
      "credentials": {
        "discourseApi": {
          "id": "1",
          "name": "Discourse account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.content }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "1024x1024"
        }
      },
      "id": "51508ff4-fab1-42b6-9f7d-be4701a639b3",
      "name": "OpenAI-DALLE",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2120,
        -40
      ],
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=1) Traduce y sintetiza en tres párrafos (no más de 250 palabras y sin agregar comillas): {{ $json.content }}\n\n2) Genera un título con impacto SEO no mayor a 11 palabras.\n\nEl formato debe ser: { \"contenido\": contenido, \"titulo\": titulo }",
        "options": {
          "maxTokens": 750,
          "temperature": 0.8,
          "topP": 1
        }
      },
      "id": "f45fcc6a-9ccd-43c9-9eaf-1797768e1e62",
      "name": "OpenAI-CHATGPT",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1380,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "published",
              "lookupValue": "no"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "2754c6e1-9cf6-47d4-ad97-0797ec9155df",
      "name": "sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        480,
        180
      ],
      "typeVersion": 3,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.content){\n\n  $input.item.json.content =\n$input.item.json.content.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ').slice(0, 6500)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "8196fc6c-51c3-4051-b600-6601bc1f1928",
      "name": "Clean Content",
      "type": "n8n-nodes-base.code",
      "position": [
        1220,
        240
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "af3f3bdd-c32d-436f-a7f1-55f702de2315",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1980,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b7972111-345f-46f3-90a2-8cd440c3d710",
      "name": "split",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        660,
        180
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Genera un prompt para DALLE-2 simbólico, cypherpunk y moderno que represente {{ $json.titulo }} en no más de 11 palabras."
            },
            {}
          ]
        },
        "options": {
          "maxTokens": 150,
          "n": 1,
          "topP": 0.8
        }
      },
      "id": "b1107416-a7bd-464d-a3c2-6bac9810d400",
      "name": "OpenAI1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1980,
        -40
      ],
      "credentials": {
        "openAiApi": {
          "id": "4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.text){\n\n  $input.item.json.text =\n$input.item.json.text.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ').slice(0, 8500)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "f5d62da4-ebae-4cc0-99f8-50012505b0e9",
      "name": "Clean Content2",
      "type": "n8n-nodes-base.code",
      "position": [
        1540,
        240
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com\\/\\w+\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "columnToMatchOn": "url",
        "valueToMatchOn": "={{ $node.sheets.json.url }}",
        "fieldsUi": {
          "values": [
            {
              "column": "published",
              "fieldValue": "=ok"
            }
          ]
        },
        "options": {}
      },
      "id": "562769f8-52e1-4dc8-abfa-9e28b14e00c7",
      "name": "Update Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2440,
        -40
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ",
          "mode": "list",
          "cachedResultName": "[AI] Noticias a Discourse",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QiEXW7wlYPtY0zBe_pLDxL3HHUO7EsYeCbUZY1DmEeQ/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "b86058ed-c91e-4c0a-9da4-ac32edff24b3",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "7",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "timezone": "America/Argentina/Buenos_Aires",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "6"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-05-17T18:12:28.542Z",
  "versionId": "efc51d3a-c11b-4ac8-98ff-b6f926ca60b5"
}